.oa-section {
  display: grid;
  padding: 2rem 0;

  & h2 {
    text-align: center;
    color: var(--highlight-color);
  }

  & .oa-table {
    display: grid;
    row-gap: 1rem;
    padding: 1rem 0;

    & .modify {
      justify-self: end;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      column-gap: 0.5rem;
    }
  }
}

.pagination-controls {
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". jump-controls pagesize-controls";
  align-items: center;

  .jump-controls {
    justify-self: center;
    grid-area: jump-controls;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-items: center;
    align-items: center;
  }

  & .pagesize-controls {
    justify-self: end;
    grid-area: pagesize-controls;
    display: grid;
  }
}
