.not-found-page {
  display: grid;
  place-items: center;
  min-height: 50vh;

  & .redirect-instructions {
    display: grid;
    place-items: center;
    gap: 1rem;

    & button {
      margin-top: 3rem;
    }

    & a {
      text-decoration: none;
      color: var(--primary-color);
    }
  }
}
