.pagination-controls {
  display: grid;
  row-gap: 0.5rem;

  .jump-controls {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
    align-items: center;

    & button {
      background-color: transparent;
      border: none;
      border-radius: 15px;
      display: grid;
      align-items: center;
      justify-items: center;

      &:hover {
        cursor: pointer;
      }

      & img {
        filter: invert(100%) sepia(46%) saturate(19%) hue-rotate(187deg)
          brightness(111%) contrast(95%);

        &:hover {
          filter: invert(63%) sepia(59%) saturate(6021%) hue-rotate(237deg)
            brightness(97%) contrast(85%);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
