/* mobile-first */

:root {
  --background-color: #03131a;
  --primary-color: #f8f8f8;
  --highlight-color: #a667e4;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding: 15px 25px;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

/* tablet */
@media screen and (min-width: 600px) {
  body {
    padding: 15px 60px;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  body {
    padding: 15px 100px;
  }
}

/* large desktop */
@media screen and (min-width: 1200px) {
  body {
    padding: 15px 150px;
  }
}

/* extra large desktop */
@media screen and (min-width: 1400px) {
  body {
    padding: 15px 250px;
  }
}

/* * {
  border: 1px solid red !important;
} */
