.about {
  padding: 20px 0;
  display: grid;
  justify-content: center;

  & h1 {
    text-align: center;
  }
}

.about-text {
  padding: 0 20px;

  & p {
    margin-top: 20px;
    line-height: 1.5rem;
  }
}