.companies {
  display: grid;
  grid-template-areas:
    "basic-info-filter"
    "company-cards-grid"
    "pagination-controls";
  row-gap: 1rem;
  padding: 1rem 0;

  & .basic-info-filter {
    grid-area: basic-info-filter;
    display: grid;
    justify-items: center;

    & h1 {
      text-align: center;
    }

    & input {
      padding: 10px;
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      color: var(--background-color);
      background-color: var(--primary-color);
      font-size: 1rem;
      padding: 0.4rem 0.8rem;
      width: max-width;

      &:focus {
        outline: none;
      }
    }

    & .companies-filter {
      display: grid;
      margin: 1rem 0;
      width: 100%;

      & .form-wrapper {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        & div {
          display: grid;
        }
      }
    }
  }

  & .company-cards-grid-wrapper {
    grid-area: company-cards-grid;
    display: grid;

    & .helper-buttons {
      display: grid;
      align-items: center;
      margin-bottom: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      justify-items: center;
      row-gap: 0.5rem;

      & .modify {
        display: grid;
      }

      & .info-popup-button {
        display: grid;

        & img {
          height: 24px;
          width: 24px;
        }
      }
    }

    & .company-cards-grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  & .pagination-controls {
    grid-area: pagination-controls;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  .companies .company-cards-grid-wrapper .helper-buttons {
    grid-template-areas: ". info-popup-button modify";
    grid-template-columns: repeat(3, 1fr);
    justify-items: normal;

    & .modify {
      grid-area: modify;
      justify-content: end;
    }

    & .info-popup-button {
      grid-area: info-popup-button;
      justify-content: center;
    }
  }
}

/* extra large desktop */
@media screen and (min-width: 2000px) {
  .companies .basic-info-filter .companies-filter {
    width: 60%;
  }
}
